#add_tidal_gates {
  padding: 1rem;

  label {
    width: 100px;
    display: inline-block;
  }
  button {
    margin-left: 100px;
  }
  em {
    font-weight: bold;
  }
  ul {
    margin: 1rem;
  }
  #reset {
    margin-left: 0.5rem;
  }
}
