main {
  border: 1px solid green;
  padding: 1rem;

  #gates_list {
    ul {
      list-style: none;
    }
  }

  .gate_container {
    border: 1px solid aqua;
    margin-bottom: 1rem;
    padding: 1rem;
  }

  .hour {
    border: 1px solid red;
    width: calc((100% - 22px) / 13);
    padding: 4px;
    margin: 2px;
    display: inline-block;
    box-sizing: border-box;
  }

  .hours_container {
    display: flex;
    flex-wrap: wrap;
  }

  .hoursUI {
    border: 1px solid #aaa;
    padding: 1rem;
    margin: 1rem 0;
  }
}
